<%- include('partials/header.ejs')  %>
<style>
    h4{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    hr{
        width:50%;
        text-align:center;
        height: 2px; 
        color: gray; 
        background-color: gray;
    }
    img{
        width: 350px;
    }
</style>
<body>
    <header>
        <%- include('partials/navbar.ejs')  %>
    </header>
    <main class="main">
        <div class="container">
            <div class="page-header">
                <h1>Hobbies</h1>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <br>
                    <h4>Playing Musical Instrument</h4>
                    <p><b>Playing guitar</b> is one of my favorite hobbies. It provides a great sense of relaxation and escape, especially after a long day of coding and working. 
                        Sitting for many hours in front of a computer screen can be quite stressful and draining, but picking up my guitar and strumming away helps me forget all my worries. 
                        The soothing sounds of the guitar and the way my fingers move across the fretboard give me a sense of peace and tranquility. 
                        Not only is playing guitar a great way to unwind, but it's also a creative outlet for me to express myself and experiment with different musical styles. Overall, playing guitar is a wonderful way for me to recharge and find balance in my busy life.
                    </p>
                </div>
                <div class="col-md-3">
                    <br><br>
                    <img id="" src="/images/guitar.jpg" alt="musical instrument" height="200">
                </div>
            </div><hr>
            <div class="page-header">
                <h4>Listening music and singing </h4>
            </div><br>
            <div class="row">
                <div class="d-flex flex-row">
                    <br>
                    <div class="col-md-6">
                        <img style="float: left;" id="" src="/images/listen_music.jpg" alt="music and sing" height="200">
                    </div>
                    <div class="col-md-6">
                        <img id="" src="/images/singing.jpg" alt="music and sing" height="200">
                    </div>
                </div>             
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p style="text-align: center;">If you can play the guitar, then loving to listen to music and sing is an absolute must-do.</p>
                </div>
            </div><hr>
            <div class="page-header">
                <h4>Foods</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <br>
                    <img id="" src="/images/banhmi.jpg" alt="food" height="200">
                </div>
                <div class="col-md-8">
                    <br>
                    <p>
                        <b>Vietnamese food</b> is one of the things that I love about my country. It's so diverse in flavors and always fresh. One of my all-time favorites is <b>banh mi</b>, which is a delicious Vietnamese sandwich. It consists of a crunchy baguette filled with various savory ingredients like grilled pork, pate, pickled vegetables, and fresh herbs. Every bite is a burst of flavors that makes my taste buds dance with joy.
                    </p><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <br>
                    <p>
                        Another dish that I adore is <b>com tam</b>, also known as broken rice. It's a popular street food in Vietnam that consists of fragrant broken rice topped with grilled pork, a fried egg, and a few slices of tomato or cucumber. The combination of the tender and juicy pork and the flavorful rice creates a truly satisfying meal.
                    </p>
                </div>
                <div class="col-md-4">
                    <img id="" src="/images/comtam.jpg" alt="food" height="200">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img id="" src="/images/hutieu.jpg" alt="food" height="200">
                </div>
                <div class="col-md-8">
                    <p>
                        Last but not least, I also enjoy <b>hu tieu</b>, which is a type of noodle soup that originated from southern Vietnam. It's made with thin and translucent noodles, which are cooked with a variety of meats like pork, beef, and seafood, along with a flavorful broth and fresh vegetables. Every slurp of the soup feels like a warm hug on a chilly day.
                    </p><br>
                    <p>
                        Overall, <b>Vietnamese food</b> has a special place in my heart, and these dishes never fail to make me feel nostalgic and proud of my culture.
                    </p>
                </div>
            </div><hr>
            <div class="row">
                <div class="col-md-9">
                    <br>
                    <h4>Playing video games</h4>
                    <p>My childhood is closely associated with a lot of <b>video games</b>, particularly MOBA games like League of Legends which I enjoy playing with my friends. 
                        The excitement of competing against other players and strategizing with my team keeps me engaged for hours on end. 
                        I also enjoy playing horror games like Outlast and Resident Evil, despite the fact that they scare me! The adrenaline rush that comes with navigating through dark, creepy environments and trying to survive against terrifying monsters is a unique experience that I find thrilling. 
                        Overall, video games provide me with a fun and entertaining escape from the stresses of everyday life.
                    </p>
                </div>
                <div class="col-md-3">
                    <br><br>
                    <img id="" src="/images/horror_game.jpg" alt="Video game" height="200">
                </div>
            </div><hr><br>
            <div class="page-header">
                <h4>Hang out with friends</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <br><br>
                    <img id="" src="/images/friends.jpg" alt="friends" height="200">
                </div>
                <div class="col-md-8">
                    <p>
                        <b>Hanging out with my friends</b> is one of my favorite pastimes. Whether it's grabbing a bite to eat at our favorite restaurant, catching a movie at the cinema, or simply lounging around at home, spending time with my friends always brings a smile to my face.
                    </p>
                    <p>
                        We love to share stories, play games, and joke around with each other. We have a great time laughing and bonding over shared experiences. Sometimes we even plan trips together to explore new places and make unforgettable memories.
                    </p>
                    <p>I feel lucky to have such wonderful friends in my life, and I cherish the moments we spend together. No matter what we do, I always have a great time when I'm with them, and I look forward to making many more happy memories in the future.</p>
                </div>
            </div><hr>
            <div class="row">
                <div class="col-md-9">
                    <br>
                    <h4>Coding....</h4>
                    <p><b>Coding</b> can be a rollercoaster of emotions. One minute you're on top of the world, your code working flawlessly and you feel like a genius. 
                        But then the next minute, a bug appears out of nowhere and you're left scratching your head, wondering where it came from and how to fix it. 
                        It's like a cruel joke, taunting you with its elusiveness. And even when you finally get it working again, you're left wondering why it didn't work in the first place. It's like a game of cat and mouse, but the mouse is the code and the cat is your sanity. 
                        Yet despite all the frustrations, there's something strangely addictive about coding. Maybe it's the thrill of the hunt, the satisfaction of solving a puzzle, or just the sheer madness of it all. Either way, you can't help but love it, even when it drives you crazy.
                    </p>
                </div>
                <div class="col-md-3">
                    <br><br>
                    <img id="" src="/images/code2.jpg" alt="Code and Bug" height="350">
                </div>
            </div>
        </div>
    </main>
</body>

<%- include('partials/footer.ejs')  %>