<%- include('partials/header.ejs') %>

  <body class="full">
    <header id="top" class="header">
      <div style="padding-bottom: 20px;" class="col-md-6 col-md-offset-3 panel panel-default">
        <div class="text-vertical-center">
          <img style="padding-top: 10px;" src="images/logo-minz-1.png" alt="Minz Puiz" width="400" />
          <p>
            <br />
          </p>
          <h4 style="font-size: 22px; font-family: monospace;">
            Ayyo Wassssup bro ! Nice to meet you.
            <br />I'm Minh Bui, a Computer Programmer :D <br />welcome to my portfolio website.
          </h4>
          <br />
          <a href="/about" class="btn btn-dark btn-lg">Click Here!</a>
        </div>
      </div><br>
    </header>

<%- include('partials/footer.ejs') %>

